body {
  /* 1. Cor de fundo de segurança */
  background-color: #faf8f5;

  /* 2. A película transparente + a foto da cachoeira */
  background-image:
    linear-gradient(rgba(250, 248, 245, 0.85), rgba(250, 248, 245, 0.85)),
    url("https://images.unsplash.com/photo-1432405972618-c60b0225b8f9");

  /* 3. Ajustes da imagem */
  background-size: cover;
  background-position: center;
  background-attachment: fixed;

  font-family: "Times New Roman", Times, serif;
  text-align: center;
  margin-top: 120px;
}

h1 {
  color: #3e322b;
  letter-spacing: 8px;
}

p {
  color: #7a6b63;
  font-size: 18px;
}

/* Regra principal do botão */
.botao-zen {
  background-color: transparent;
  color: #3e322b;
  border: 1px solid #3e322b;
  padding: 15px 40px;
  text-decoration: none;
  margin-top: 30px;
  display: inline-block;
  transition: 0.4s;
}

/* Regra de quando o mouse passa por cima (agora do lado de fora!) */
.botao-zen:hover {
  background-color: rgba(189, 170, 155, 0.4);
  color: #3e322b;
}

/* Regras para a nova secção abaixo da cascata */
.conteudo-jornada {
  /* Fundo sólido creme para tapar a cascata quando deslizar por cima */
  background-color: #faf8f5;
  /* Espaçamento interno gigante (80px em cima/baixo, 20px nas laterais) */
  padding: 80px 20px;
  /* Margem enorme no topo para empurrar este bloco lá para baixo e deixar a cascata respirar */
  margin-top: 250px;
}

.conteudo-jornada {
  background-color: transparent;
  padding: 80px 20px;
  margin-top: 250px;
}

.rodape {
  background-color: transparent;
  color: #7a6b63;
  padding: 40px 20px;
  font-size: 14px;
  text-align: right;
}

/* Este bloco só é ativado em ecrãs com largura máxima de 768px */
@media (max-width: 768px) {
  h1 {
    font-size: 28px;
    letter-spacing: 4px;
  }

  .conteudo-jornada {
    margin-top: 120px;
    padding: 50px 20px;
  }
}

.circulo-respiracao {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  border: 1px #c2a375;
  margin: 40px auto; /* Centraliza o círculo no meio da tela */

  /* O trio mágico para centralizar o texto EXATAMENTE no meio do círculo */
  display: flex;
  justify-content: center;
  align-items: center;
}

.circulo-respiracao {
  cursor: pointer;
  transition: all 0.5s; /* Suaviza as mudanças de cor do texto */
}

.respirando {
  background-color: rgba(189, 170, 155, 0.4);
  color: #3e322b;
  animation: pulmao 6s infinite;
}

@keyframes pulmao {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.15);
    box-shadow: 0 0 20px rgba(62, 50, 43, 0.5);
  }

  100% {
    transform: scale(1);
  }
}
